/KNN/KNN_Conf_Matrix.npy
/KNN/KNN_predictions.npy
/.idea/misc.xml
/.idea/ML Project - Panzino Melis.iml
/.idea/modules.xml
/Neural Network/NN_Model.h5
/Neural Network/NN_Model_f0.h5
/Neural Network/NN_Model_f1.h5
/Neural Network/NN_Model_f2.h5
/Neural Network/NN_Model_f3.h5
/Neural Network/NN_Model_VAR.h5
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/SVM/SVM_Conf_Matrix.npy
/SVM/SVM_predictions.npy
/.idea/vcs.xml
/Neural Network/NN_Model_v2.h5
/Neural Network/NN_Model_v2_f0.h5
/Neural Network/NN_Model_v2_f1.h5
/Neural Network/NN_Model_v2_f2.h5
/Neural Network/NN_Model_v2_f3.h5
*.h5